{% extends 'base.html.twig' %}

{% block title %}Geographie - Connexion{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <h1>Connexion</h1>

    <form class="login" method="post">
        {% if error %}
            <div class="error">Mauvais identifiants</div>
        {% endif %}

        <div class="alreadyLogged">
            {% if app.user %}
                Vous êtes déjà connectés, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% endif %}
        </div>

        <div class="line">
            <label for="inputEmail">Adresse mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" autocomplete="email" required autofocus>
        </div>
        <div class="line">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="line checkbox">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
        <button class="submit" type="submit">Se connecter</button>
        {% if app.user == false %}
            <div class="createAccount">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous !</a></div>
        {% endif %}
    </form>
{% endblock %}
