{% extends 'base.html.twig' %}

{% block title %}Geographie - Inscription{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="error" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="error">{{ form_errors(registrationForm) }}</div>

    <div class="line">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
    </div>
    <div class="line">
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}
    </div>
    <div class="line">
        {{ form_label(registrationForm.pseudo) }}
        {{ form_widget(registrationForm.pseudo) }}
    </div>
    <div class="line">
        {{ form_label(registrationForm.lastname) }}
        {{ form_widget(registrationForm.lastname) }}
    </div>
    <div class="line">
        {{ form_label(registrationForm.firstname) }}
        {{ form_widget(registrationForm.firstname) }}
    </div>
    <div class="line">
        {{ form_label(registrationForm.birthday) }}
        {{ form_widget(registrationForm.birthday) }}
    </div>
    <div class="line">
        <label>
            <input type="checkbox" name="registration_form[agreeTerms]" required value="1"> Accepter les conditions
        </label>
    </div>

    {{ form_row(registrationForm._token) }}
    <button class="submit" type="submit">S'inscrire</button>

    <div class="alreadyRegistered">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous !</a></div>

    {{ form_end(registrationForm, {'render_rest': false}) }}
{% endblock %}
