{% extends 'base.html.twig' %}

{% block title %}Geographie - Profil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div class="profile">
        <h1>Profil</h1>

        {{ form_start(form, {'attr': {'class': 'profile'}}) }}
        <div class="line">
            <div class="field">
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo) }}
                {{ form_errors(form.pseudo) }}
            </div>
            <div class="field">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
            </div>
        </div>
        <div class="line">
            <div class="field">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
            </div>
            <div class="field">
                {{ form_label(form.birthday) }}
                {{ form_widget(form.birthday) }}
            </div>
        </div>

        <button class="submit" type="submit">Mettre à jour</button>
        {{ form_end(form) }}

        {% if gamesByType|length > 0 %}
            <div class="blockResults">
                <h2>Vos résultats</h2>
                <div class="results">
                    {% for type, games in gamesByType %}
                        <div class="block">
                            <div class="height">
                                <h3>{{ type|capitalize|replace({'-': ' '}) }}</h3>
                            </div>
                            <div class="bottom">
                                {% for game in games %}
                                    <span>{{ game.createdAt|date('H:i d/m/Y')|trans }} - {{ game.result }} points</span>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
