{% extends 'base.html.twig' %}

{% block title %}Geographie - Profil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div class="profile">
        <h1>Profil</h1>

        <form method="post">
            <div>
                <label for="email">Adresse mail</label>
                <input id="email" type="email" value="{{ app.user.email }}" disabled>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input id="password" type="password" value="********">
            </div>
            <div>
                <label for="pseudo">Pseudo</label>
                <input id="pseudo" type="text" value="{{ app.user.pseudo }}">
            </div>
            <div>
                <label for="lastname">Nom</label>
                <input id="lastname" type="text" value="{{ app.user.lastname }}">
            </div>
            <div>
                <label for="firstname">Prénom</label>
                <input id="firstname" type="text" value="{{ app.user.firstname }}">
            </div>
            <div>
                <label for="birthday">Date de naissance</label>
                <input id="birthday" type="date" value="{{ app.user.birthday|date('Y-m-d') }}">
            </div>
            <button class="submit" type="submit">Mettre à jour</button>
        </form>
    </div>
{% endblock %}
