{% extends 'base.html.twig' %}

{% block title %}Capitales d'Europe{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div class="gameBackground">
        <div class="gameBlock">
            <div class="liveScore">0</div>
            <div class="game">
                <div class="beforeGame">
                    <div class="stats">
                        <div class="nbGames">
                            <h3>{{ nbGames }}</h3>
                            <span>parties jouées</span>
                        </div>
                        <div class="scoreZone">
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                : 38250
                            </div>
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                : 31500
                            </div>
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                : 22500
                            </div>
                            <span class="bestScore">Meilleur score : {{ bestScore }}</span>
                        </div>
                    </div>
                    <h1 class="theme">Capitales d'<span>EUROPE</span></h1>
                    <button class="btnPlay">Jouer</button>
                </div>
                <div class="countdown"></div>
                <div class="gaming">
                    <div class="timer"></div>
                    <div class="questionBox">
                        <div class="flag">
                            <img src="" alt="flag">
                        </div>
                        <p class="question">
                            Quelle est la capitale<br>
                            <span class="pronom"></span><span class="pays"></span> ?
                        </p>
                    </div>
                    <div class="answers">
                        <div class="answer"></div>
                        <div class="answer"></div>
                        <div class="answer"></div>
                        <div class="answer"></div>
                    </div>
                    <div class="counter"></div>
                </div>
                <div class="result">
                    <h2>Fin de la partie !</h2>
                    <button class="playAgain">Rejouer</button>
                </div>
                <div class="otherStats">
                    {% if app.user %}
                        <p>Meilleur score : {{ bestScore }}</p>
                        <p>Classement : 167 / 83 654</p>
                        {% else %}
                            <p>Connectez-vous pour enregistrer vos scores !</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script>
            var flagPaths = {
                'Albanie'           : "{{ asset('img/flags/europe/albanie.png') }}",
                'Allemagne'         : "{{ asset('img/flags/europe/allemagne.png') }}",
                'Angleterre'        : "{{ asset('img/flags/europe/angleterre.png') }}",
                'Autriche'          : "{{ asset('img/flags/europe/autriche.png') }}",
                'Belgique'          : "{{ asset('img/flags/europe/belgique.png') }}",
                'Bulgarie'          : "{{ asset('img/flags/europe/bulgarie.png') }}",
                'Chypre'            : "{{ asset('img/flags/europe/chypre.png') }}",
                'Croatie'           : "{{ asset('img/flags/europe/croatie.png') }}",
                'Danemark'          : "{{ asset('img/flags/europe/danemark.png') }}",
                'Espagne'           : "{{ asset('img/flags/europe/espagne.png') }}",
                'Estonie'           : "{{ asset('img/flags/europe/estonie.png') }}",
                'Finlande'          : "{{ asset('img/flags/europe/finlande.png') }}",
                'France'            : "{{ asset('img/flags/europe/france.png') }}",
                'Grèce'             : "{{ asset('img/flags/europe/grece.png') }}",
                'Hongrie'           : "{{ asset('img/flags/europe/hongrie.png') }}",
                'Irlande'           : "{{ asset('img/flags/europe/irlande.png') }}",
                'Italie'            : "{{ asset('img/flags/europe/italie.png') }}",
                'Liechtenstein'     : "{{ asset('img/flags/europe/liechtenstein.png') }}",
                'Lettonie'          : "{{ asset('img/flags/europe/lettonie.png') }}",
                'Lituanie'          : "{{ asset('img/flags/europe/lituanie.png') }}",
                'Luxembourg'        : "{{ asset('img/flags/europe/luxembourg.png') }}",
                'Malte'             : "{{ asset('img/flags/europe/malte.png') }}",
                'Monaco'            : "{{ asset('img/flags/europe/monaco.png') }}",
                'Norvège'           : "{{ asset('img/flags/europe/norvege.png') }}",
                'Pays-Bas'          : "{{ asset('img/flags/europe/pays_bas.png') }}",
                'Pologne'           : "{{ asset('img/flags/europe/pologne.png') }}",
                'Portugal'          : "{{ asset('img/flags/europe/portugal.png') }}",
                'République tchèque': "{{ asset('img/flags/europe/republique_tcheque.png') }}",
                'Roumanie'          : "{{ asset('img/flags/europe/roumanie.png') }}",
                'Serbie'            : "{{ asset('img/flags/europe/serbie.png') }}",
                'Slovaquie'         : "{{ asset('img/flags/europe/slovaquie.png') }}",
                'Slovénie'          : "{{ asset('img/flags/europe/slovenie.png') }}",
                'Suède'             : "{{ asset('img/flags/europe/suede.png') }}",
                'Suisse'            : "{{ asset('img/flags/europe/suisse.png') }}",
                'Ukraine'           : "{{ asset('img/flags/europe/ukraine.png') }}",
            };

            function setImage(pays) {
                const flag = document.querySelector('div.flag img')
                flag.src   = flagPaths[pays]
            }
        </script>

        {{ encore_entry_script_tags('capitales_europe') }}
    {% endblock %}
{% endblock %}
