{% extends 'base.html.twig' %}

{% block title %}Capitales d'Europe{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div class="gameBackground">
        <div class="gameBlock">
            <div class="liveScore">0</div>
            <div class="game">
                <div class="beforeGame">
                    <div class="stats">
                        <div class="nbGames">
                            <h3>{{ nbGames }}</h3>
                            <span>parties jouées</span>
                        </div>
                        <div class="scoreZone">
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                : 38250
                            </div>
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                : 31500
                            </div>
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                : 22500
                            </div>
                            <span class="bestScore">Meilleur score : {{ bestScore }}</span>
                        </div>
                    </div>
                    <h1 class="theme">Capitales d'<span>EUROPE</span></h1>
                    <button class="btnPlay">Jouer</button>
                </div>
                <div class="countdown"></div>
                <div class="gaming">
                    <div class="timer"></div>
                    <div class="flag"></div>
                    <p class="question">
                        Quelle est la capitale<br>
                        <span class="pronom"></span><span class="pays"></span> ?
                    </p>
                    <div class="answers">
                        <div class="answer"></div>
                        <div class="answer"></div>
                        <div class="answer"></div>
                        <div class="answer"></div>
                    </div>
                    <div class="counter"></div>
                </div>
                <div class="result">
                    <h2>Fin de la partie !</h2>
                    <button class="playAgain">Rejouer</button>
                </div>
                <div class="otherStats">
                    {% if app.user %}
                        <p>Meilleur score : {{ bestScore }}</p>
                        <p>Classement : 167 / 83 654</p>
                        {% else %}
                            <p>Connectez-vous pour enregistrer vos scores !</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('capitales_europe') }}
    {% endblock %}
{% endblock %}
