{% extends 'base.html.twig' %}

{% block title %}Capitales d'Europe{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div class="gameBackground">
        <div class="gameBlock">
            <div class="liveScore">0</div>
            <div class="game">
                <div class="beforeGame">
                    <div class="stats">
                        <div class="nbGames">
                            <h3>3 120 959</h3>
                            <span>parties jouées</span>
                        </div>
                        <div class="scoreZone">
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                : 38250
                            </div>
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                : 31500
                            </div>
                            <div class="starsScore">
                                <img src="{{ asset('img/star.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                <img src="{{ asset('img/star2.svg') }}" alt="etoile">
                                : 22500
                            </div>
                            <span class="bestScore">Meilleur score : 32 872</span>
                        </div>
                    </div>
                    <h1 class="theme">Capitales d'<span>EUROPE</span></h1>
                    <button class="btnPlay">Jouer</button>
                </div>
                <div class="countdown"></div>
                <div class="otherStats">
                    <p>Meilleur score : 32 872</p>
                    <p>Classement : 167 / 83 654</p>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('capitales_europe') }}
    {% endblock %}
{% endblock %}
