<header>
    <div id="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('img/LOGO.svg') }}" alt="logo">
        </a>
    </div>
    <nav>
        <a href="{{ path('app_france') }}">France</a>
        <a href="{{ path('app_europe') }}">Europe</a>
        <a href="{{ path('app_afrique') }}">Afrique</a>
        <a href="{{ path('app_asie') }}">Asie</a>
        <a href="{{ path('app_oceanie') }}">Océanie</a>
        <a href="{{ path('app_amerique') }}">Amérique</a>
    </nav>
    <div id="profil">
        <a href="{{ path('app_profil') }}">
            <img src="{{ asset('img/profil.svg') }}" alt="profil">
        </a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">
                <img src="{{ asset('img/logout.svg') }}" alt="logout">
            </a>
        {% endif %}
    </div>
</header>